bin/
build/
develop-eggs/
dist/
eggs/
config_enhance.egg-info/
target/
*.pyc
*.tmp
.*.swp
.*.swo
.*.swn
.project
.pydevproject
.settings
.buildenv
.installed.cfg
.extends-cache
parts
nosetests.xml
.coverage
coverage/
GENERATED_VERSION
coverage.xml
versioner-*.egg
BUILD_NUMBER
